/* regole generali */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #dbdbd4;
}

.color-background{ /* semplicemente una barra colorata nello sfondo che rimane dietro (z-index) */
  position: fixed;
  height: 150px;
  width: 100%;
  z-index: -1;
  background-color: #009588;
}

/* schedina contatto */

.contact-style{
  height: 100%;
}

.contact-style img{
  height: 100%;
}

.contact-style>div{
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
}

/* sezioni icone */

.icons a{
  color: #b1b1b1;
  font-size: 18px;
  padding: 0 8px;
}

.icons a:hover{
  color: #000;
}

/* PARTE PRINCIPALE */

.container{
  display: flex;
  padding: 2% 8%;
  height: 100vh;
  align-items: stretch;
}



/* ---------------------   PARTE SINISTRA --- CONTATTI */

#contacts {
  width: 30%;
  height: 100%;
  background-color: #fff;
}

/* contatto attivo */

#active-contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-right: 1px solid #b1b1b1;
  padding: 10px;
  /* debug */
  background-color: #eaeaea;
}

#active-contact img{
  height: 100%;
}

/* alert */

#alert {
  height: 77px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: #8edafc;
}

#alert .bell-wrapper{
  font-size: 20px;
  color: #8edafc;
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
}

#alert>div:nth-child(2){
  padding: 10px;
}

#alert a{
  color: #b1b1b1;
}

/* searchbar */

#searchbar {
  height: 53px;
  padding: 10px;
  background-color: #eaeaea;
}

#searchbar .form{
display: flex;
background-color: #fff;
width: 100%;
padding: 4px;
}

#searchbar .search-wrapper{
  width: 10%;
  text-align: center;
  font-size: 18px;
}

#searchbar .search-wrapper i{
  vertical-align: middle;
}

#searchbar input{
  width: 90%;
  height: 25px;
  border: none;
}

/* lista contatti */

#contact-list{
  list-style: none;
  height: calc(100% - 77px - 60px - 53px); /* altezza totale meno le tre barre superiori*/
  overflow-y: auto;
}

#contact-list li a{
  height: 60px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
  text-decoration: none;
  color: #b1b1b1;
}

#contact-list li a h3{
  color: #000;
}

/* ------------------  PARTE DESTRA ---- CHAT */

#chat{
  width: 70%;
  /* debug */
  height: 100%;
}

/* header */

#chat .header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* debug */
  background-color: #eaeaea;
}


/* messaggi */

#chat #messages{
  height: calc(100% - 120px);
  background: url("../img/chat-sfondo.jpg");
  padding: 15px 12%;
  overflow-y: auto;
}

/* css per messaggi sia inviati che ricevuti */


/* template di messaggio nascosto da clonare in js */

.template{
  display:none;
}


#messages .send{
  text-align: right;
  padding: 10px 0;
}

#messages .received{
  text-align: left;
  padding: 10px 0;
}

#messages .msg-text{
  text-align: left;
  position: relative;
  max-width: 200px;
  display: inline-block;
  padding: 14px 20px 14px 14px;
  border-radius: 10px;
  border: 1px solid #b1b1b1;
}

#messages .send .msg-text{
  background-color: #d5f9ba;
}

#messages .received .msg-text{
  background-color: #fff;
}

#messages span.time{
  font-size: 8px;
  color: #b1b1b1;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/* option panel dropdown */

#messages .msg-text i.option-down{
  display: none;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-40%);
}

#messages .msg-text:hover i.option-down{
  display: block;
}
#messages .msg-text .option-panel{
  display: none;
  position: absolute;
  top: calc(100% - 12px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 5px;
  width: 85%;
  min-width: 140px;
  border-radius: 10px;
  text-align: center;
}

#messages .msg-text .option-panel ul{
  list-style: none;
}

#messages .msg-text .option-panel li{
  padding: 5px 0;
}

/* form invio nuovi messaggi */

#chat #write-new{
  height: 60px;
  padding: 10px;
  background-color: #f3eeea;
}

#chat #write-new{
  display: flex;
  align-items: center;
}

#chat #write-new .icons{
  width: 10%;
  text-align: center;
}

#chat #write-new .icons a{
  font-size: 22px;
  color: #b1b1b1;
}

#chat #write-new .input-msg{
  width: 80%;
  height: 100%;
  position: relative;
}

#chat #write-new .input-msg input{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
}

#chat #write-new #send-btn{
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 25px;
  padding: 10px;
}
